.admin-c2a{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;

	h2{
		font-size: 18px !important;
		font-weight: bold !important;
		padding: 0 !important;
		color: red;
	}
}

.book-maker-fields{

	pre{
		font-weight: bold !important;
	}

	li{
		display: flex;
		align-items: center;

		&:first-child{
			text-transform: uppercase;
			font-weight: bold;
		}

		> *{
			width: 50%;
			padding: 10px;
		}
	}
}

.pdf-view-btn{
	margin-top: 10px;
}

.admin-table{
	display: table;

	tbody{

		tr{
			border: 1px solid lightgray;

			td{
				border: 1px solid lightgray;
			}
		}
	}
}

.kant-form{
	transition: all 200ms ease-in-out;

	&.loading{
		opacity: .5;
		pointer-events: none;
		cursor: not-allowed;
	}

	.form-row{
		margin: 10px 0;
	}
}

#order_line_items{

	.display_meta{
		display: none;
	}
}