/// Boilerplate file for mappings, do not add any CSS in here, just imports
@import 'animate.scss';
@import 'base.scss';
@import 'bootstrap-grid.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'styles.scss';
@import 'responsive.scss';
@import 'woocommerce.scss';
